.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgba(202, 212, 57, 0.685);
  text-align: center;
  font-size: 100px;

  
}
h3{
  color :rgb(24, 112, 46);
  text-align: center;
  font-size: 25px;

}
.maşa{
  margin-left: 16px;
  color: #6c9b2f;
  font-size: 16pt;
}
.linkler{
  border-left: 0px;
  list-style-type: none;
  border: 1px solid rgb(6, 10, 6);
  border-radius: 10px;
  border-style: outset;
  padding:  10px 10px 10px;
  background-color: rgb(255, 255, 255);
  
}
.hakkımızda{
  color :#6c9b2f;
}
.logo{
  height:6rem ;
  width: 4,70rem ;
}
.baslık{
  margin-top:0px;
  padding-top: 0px;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #78a7b3a6;
}
tr:nth-child(odd) {
  background-color: #ccc051a6;
}

.üreticiBaşlık{
  color: #61dafb;
  font-size: 23pt;
  text-align: center;
}
